<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta name="description" content="" />
    <meta name="author" content="ThemeBucket" />

    <title>用户列表</title>
    <link
      th:href="@{/js/advanced-datatable/css/demo_page.css}"
      rel="stylesheet"
    />
    <link
      th:href="@{/js/advanced-datatable/css/demo_table.css}"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/js/data-tables/DT_bootstrap.css}" />
    <th:block th:replace="commons::commonHead" />
    <style>
      /* #dynamic-table_wrapper .row-fluid {
        display: none;
      } */
    </style>
  </head>

  <body class="sticky-header">
    <section>
      <!-- left side start-->
      <th:block th:replace="commons::commonSideBar" />
      <!-- left side end-->

      <!-- main content start-->
      <div class="main-content">
        <!-- header section start-->
        <th:block th:replace="commons::commonHeader" />
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
          <h3>Dynamic Table</h3>
          <ul class="breadcrumb">
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li>
              <a href="#">Data Tables</a>
            </li>
            <li class="active">Dynamic Table</li>
          </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
          <div class="row">
            <div class="col-sm-12">
              <section class="panel">
                <header class="panel-heading">
                  Dynamic Table
                  <a class="btn btn-primary" th:href="@{/user/create}">新增</a>
                </header>
                <div
                  class="alert alert-danger"
                  role="alert"
                  th:if="${message}"
                  th:text="${message}"
                  style="margin-bottom: 0; padding: 8px 16px; border-radius: 0"
                ></div>
                <div class="panel-body">
                  <div class="adv-table">
                    <div class="row-fluid">
                      <div class="span6">
                        <div class="dataTables_length">
                          <label
                            >每页显示
                            <select
                              class="form-control"
                              size="1"
                              name="dynamic-table_length"
                              aria-controls="dynamic-table"
                            >
                              <option value="10" selected="selected">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>
                            条数据</label
                          >
                        </div>
                      </div>
                      <div class="span6">
                        <div class="dataTables_filter">
                          <form th:action="@{/user/list}" method="get">
                            <label
                              >搜索:
                              <input
                                type="text"
                                class="form-control"
                                name="keyword"
                                aria-controls="dynamic-table"
                                th:value="${keyword}"
                            /></label>
                          </form>
                        </div>
                      </div>
                    </div>
                    <table
                      class="display table table-bordered table-striped"
                      id="dynamic-table"
                    >
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>ID</th>
                          <th>姓名</th>
                          <th>年龄</th>
                          <th>电子邮件</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          class="gradeX"
                          th:each="user, userStat : ${users.records}"
                        >
                          <td th:text="${userStat.count}"></td>
                          <td th:text="${user.id}"></td>
                          <td th:text="${user.name}"></td>
                          <td th:text="${user.age}"></td>
                          <td th:text="${user.email}"></td>
                          <td>
                            <a
                              class="btn btn-success btn-sm"
                              th:href="@{/user/edit?id=}+${user.id}"
                              >编辑</a
                            >
                            <a
                              class="btn btn-danger btn-sm"
                              th:href="@{/user/delete?id=}+${user.id}"
                              >删除</a
                            >
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>#</th>
                          <th>ID</th>
                          <th>姓名</th>
                          <th>年龄</th>
                          <th>电子邮件</th>
                          <th>操作</th>
                        </tr>
                      </tfoot>
                    </table>
                    <div class="row-fluid">
                      <div class="span6">
                        <div class="dataTables_info" id="dynamic-table_info">
                          每页显示[[${users.size}]]数据 第[[${users.current}]]页 总计 [[${users.pages}]]页
                          共[[${users.total}]]条数据
                        </div>
                      </div>
                      <div class="span6">
                        <div
                          class="
                            dataTables_paginate
                            paging_bootstrap
                            pagination
                          "
                        >
                          <ul>
                            <li
                              th:class="${users.current ==1 ? 'prev disabled' : 'prev'}"
                            >
                              <a
                                th:href="${users.current ==1}?'#':@{/user/list(keyword=${keyword},page=1)}"
                                >首页</a
                              >
                            </li>
                            <li
                              th:class="${users.current ==1 ? 'prev disabled' : 'prev'}"
                            >
                              <a
                                th:href="${users.current ==1}?'#':@{/user/list(keyword=${keyword},page=${users.current - 1})}"
                                >← 上一页</a
                              >
                            </li>
                            <li
                              th:class="${num == users.current?'active':''}"
                              th:each="num:${#numbers.sequence(1,users.pages)}"
                            >
                              <a
                                th:href="@{/user/list(keyword=${keyword},page=${num})}"
                                >[[${num}]]</a
                              >
                            </li>
                            <li
                              th:class="${users.current == users.pages ? 'next disabled' : 'next'}"
                            >
                              <a
                                th:href="${users.current == users.pages}?'#':@{/user/list(keyword=${keyword},page=${users.current + 1})}"
                                >下一页 →
                              </a>
                            </li>
                            <li
                              th:class="${users.current == users.pages ? 'next disabled' : 'next'}"
                            >
                              <a
                                th:href="${users.current == users.pages}?'#':@{/user/list(keyword=${keyword},page=${users.pages})}"
                                >末页
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <th:block th:replace="commons::commonFooter" />
        <!--footer section end-->
      </div>
      <!-- main content end-->
    </section>

    <!-- Placed js at the end of the document so the pages load faster -->
    <th:block th:replace="commons::commonScript" />
    <!--dynamic table-->
    <script
      type="text/javascript"
      language="javascript"
      th:src="@{/js/advanced-datatable/js/jquery.dataTables.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/js/data-tables/DT_bootstrap.js}"
    ></script>
    <!--dynamic table initialization -->
    <!-- <script th:src="@{/js/dynamic_table_init.js}"></script> -->
  </body>
</html>
