<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">

  <title>404 Page</title>

  <th:block th:replace="commons::commonHead" />
</head>

<body class="error-page">

  <section>
    <div class="container ">

      <section class="error-wrapper text-center">
        <h1><img alt="" th:src="@{/images/404-error.png}"></h1>
        <h2>page not found</h2>
        <h3>We Couldn’t Find This Page</h3>
        <a class="back-btn" th:href="@{/}"> Back To Home</a>
      </section>

    </div>
  </section>

  <!-- Placed js at the end of the document so the pages load faster -->
  <th:block th:replace="commons::commonErrorPageScript" />


  <!--common scripts for all pages-->
  <!--<script src="js/scripts.js"></script>-->

</body>

</html>